# Ignore these directories and files
node_modules/
dist/
.cache/
build/
.out/
*.log
*.log.*
*.pid
*.seed
*.pid.lock

# Ignore specific project files
package-lock.json
tsconfig.json
tsconfig.node.json

# Ignore env files
.env

# Ignore Firebase related files
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules

# Ignore editor and IDE specific files
.eslintrc.cjs
postcss.config.js

# Ignore Vite and Tailwind related files
vite.config.ts
tailwind.config.js
